.hero {
    position: relative;
    height: 100vh;
    background: url("../img/bg-hero-home.png") no-repeat center center;
    background-size: cover;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.hero-content h1 {
    font-size: 4rem;
    color: #257EB2;
}

.hero-content p {
    text-decoration: underline;
    font-size: larger;
}

.navbar {
    background-color: rgba(255,255,255,0.3);
}

.btn-group {
    width: 100%;
    background-color: #257EB2;
}

#about {
    background-color: red;
}

.img-group {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #D9D9D9;
}

.about-desc {
    text-align: center;
}

.about-desc h1 {
    color: #FF8E01;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.about-desc h1::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.rounded-div {
    width: 1200px;
    font-size: larger;
    background-color: rgba(65, 160, 228, 0.4);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    color: black;
}

.header {
    color: #FF8E01;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.left-column .header::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 15%;
    transform: translateX(-50%);
}

.right-column .header::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 45%;
    transform: translateX(-50%);
}

.berita-kegiatan h1{
    color: #FF8E01;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.berita-kegiatan h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}