.hero {
    position: relative;
    height: 100vh;
    background: url("../img/bg-hero-home.png") no-repeat center center;
    background-size: cover;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.hero-content h1 {
    font-size: 4rem;
    color: #257EB2;
}

.hero-content p {
    text-decoration: underline;
    font-size: larger;
}

.navbar {
    background-color: rgba(255,255,255,0.3);
}

.btn-group {
    width: 100%;
}